@keyframes blink{
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

:root{
    --primary-color:white;
    --secondary-color:whitesmoke;
    --third-color:#f0f0f0;
    --fourth-color:black;
    --fifth-color:#003AD1;
}

.dark-theme{
    --primary-color:#272829;
    --secondary-color:#61677A;
    --third-color:#D8D9DA;
    --fourth-color:#FFF6E0;
    --fifth-color:#61677A;

}
nav{
    background-color: var(--fifth-color);
  }

header{ 
    position: sticky;
    top: 0px;
    z-index: 2;
}

body{
    font-family: "Roboto", sans-serif;
}

p{
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    
}

#section1{
    background-color: var(--primary-color);
    color: var(--fourth-color);
}

#section2{
    background-color: var(--secondary-color);
    color: var(--fourth-color);
}

#section3{
    background-color: var(--primary-color);
    color: var(--fourth-color);
    
}

#main-head{
    padding-left: 6%;
    padding-right: 6%;
}

#main-head-text{
    font-size: 70px;
    font-family:'Roboto', sans-serif;
    font-weight: 900;
}

#username-text{
    font-size:50px;
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    color: #003AD1;
}

#row1{
    padding-top: 50px;
    padding-bottom: 50px;
}

#empty-para{
    animation: blink 1s infinite;
}



.timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.timeline-item {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}


.timeline-content {
    background-color: var(--third-color);
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}


#iconmoon{
    width: 30px;
    cursor: pointer;
    padding-left: 10px;
    
}

#iconsun{
    width: 30px;
    cursor: pointer;
    padding-left: 10px;
}

#buttonregister{
    background-color: var(--fifth-color);
    border: var(--fifth-color);
}

#buttonsignin{
    background-color: var(--primary-color);
    border: var(--primary-color);
    color: var(--fourth-color);
}

#buttonlogout{
    background-color: var(--primary-color);
    border: var(--primary-color);
    color: var(--fourth-color);
}


#buttonjoin{
    background-color: var(--fifth-color);
    border: var(--fifth-color);
    width: 200px;
    height: 40px;

}

#row2{
    padding-left: 15px;
    padding-right: 15px;
    
}

#paragraph-sec-2{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    animation: blink 1s infinite;
}


.error-message{
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: #ffc3c3;
    font-weight: 400;
    color: #ff2121;
    margin: 1rem 0;
}

.user-icon{    
    cursor: pointer;
    font-size: 20px;
    padding-right: 8px;
    transition: .4s;
}

.user-icon i:hover{
    transform: scale(1.3);
}


.user-dropdown{
    position: absolute;
    z-index: 1;
    top:-400px;
    right: 10%;
    width: 200px;
    height:auto;
    color: black;
    background: white;
    list-style: none;
    transition: .4s;
    border-radius: 15px;
}

#check-user:checked ~ .user-dropdown{
    position: absolute;
    top:58px
}

.user-dropdown h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-dropdown ul{
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-dropdown ul li{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0px;
    margin: 10px 0px;
    width: 80%;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.user-dropdown ul li:hover{
    background-color: whitesmoke;

}

#check-user{
    display: none;
}

.admin-interface{
    padding-top: 150px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-interface ul{
    text-decoration: none;
    list-style-type: none;
    display: block;
    gap: 20px;
}


.admin-interface ul li{
    border-radius: 30px;
    background-color: whitesmoke;
    padding: 60px 120px;
    margin: 100px 40px;
    transition: .4s;
}

.admin-interface ul li a{
    text-decoration: none;
    color: #61677A;
}

.admin-interface ul li:hover{
    transform: scale(1.3);
}